body {
      font: 12px sans-serif;
}

h2 {
    text-align: center;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.diagonal {
    stroke: #000;
    shape-rendering: crispEdges;
}

.label {
    fill: #000;
}

.bubble,
.bar {
    opacity: 0.6;
}

.bubble-label,
.bar-label {
    fill: #fff;
    font-weight: bold
}

.season-winter {
    color: #80B1D3;
}
.month-12,
.month-1,
.month-2 {
    fill: #80B1D3;
}

.season-spring {
    color: #B5CF6B;
}
.month-3,
.month-4,
.month-5 {
    fill: #B5CF6B;
}

.season-summer {
    color: #D6616B;
}
.month-6,
.month-7,
.month-8 {
    fill: #D6616B;
}

.season-fall {
    color: #E7BA52;
}
.month-9,
.month-10,
.month-11 {
    fill: #E7BA52;
}